In [2]:
#import dependencies

import json
import requests
import pandas as pd
import numpy as np

from gina_config import api_key

In [3]:
url = "http://api.eia.gov/category/?"
url = (f'{url}&api_key={api_key}&category_id=40382')

print (requests.get(url))

<Response [200]>

In [107]:
response = requests.get(url).json()
#print(json.dumps(response, indent=1, sort_keys=True))

In [108]:
eia_data = response["category"]["childseries"]
#eia_data

In [101]:
base_state_url = "http://api.eia.gov/series/?"

index = range(0,52)

state_series = []

for index in index:
    state_series_id = eia_data[index]["series_id"]
    state_url = (f'{base_state_url}&api_key={api_key}&series_id={state_series_id}')
    response = requests.get(state_url).json()
    #print(f"State series id {index}|{state_series_id}")
    state_series.append(state_series_id)
    print(state_series_id)

SEDS.SOTCB.AK.A
SEDS.SOTCB.AL.A
SEDS.SOTCB.AR.A
SEDS.SOTCB.AZ.A
SEDS.SOTCB.CA.A
SEDS.SOTCB.CO.A
SEDS.SOTCB.CT.A
SEDS.SOTCB.DC.A
SEDS.SOTCB.DE.A
SEDS.SOTCB.FL.A
SEDS.SOTCB.GA.A
SEDS.SOTCB.HI.A
SEDS.SOTCB.IA.A
SEDS.SOTCB.ID.A
SEDS.SOTCB.IL.A
SEDS.SOTCB.IN.A
SEDS.SOTCB.KS.A
SEDS.SOTCB.KY.A
SEDS.SOTCB.LA.A
SEDS.SOTCB.MA.A
SEDS.SOTCB.MD.A
SEDS.SOTCB.ME.A
SEDS.SOTCB.MI.A
SEDS.SOTCB.MN.A
SEDS.SOTCB.MO.A
SEDS.SOTCB.MS.A
SEDS.SOTCB.MT.A
SEDS.SOTCB.NC.A
SEDS.SOTCB.ND.A
SEDS.SOTCB.NE.A
SEDS.SOTCB.NH.A
SEDS.SOTCB.NJ.A
SEDS.SOTCB.NM.A
SEDS.SOTCB.NV.A
SEDS.SOTCB.NY.A
SEDS.SOTCB.OH.A
SEDS.SOTCB.OK.A
SEDS.SOTCB.OR.A
SEDS.SOTCB.PA.A
SEDS.SOTCB.RI.A
SEDS.SOTCB.SC.A
SEDS.SOTCB.SD.A
SEDS.SOTCB.TN.A
SEDS.SOTCB.TX.A
SEDS.SOTCB.US.A
SEDS.SOTCB.UT.A
SEDS.SOTCB.VA.A
SEDS.SOTCB.VT.A
SEDS.SOTCB.WA.A
SEDS.SOTCB.WI.A
SEDS.SOTCB.WV.A
SEDS.SOTCB.WY.A

In [117]:
base_state_url = "http://api.eia.gov/series/?"

index = range(0,52)

state_series = []

for index in index:
    state_series_id = eia_data[index]["series_id"]
    state_url = (f'{base_state_url}&api_key={api_key}&series_id={state_series_id}')
    response = requests.get(state_url).json()

    layer1 = response["series"]
    layer2 = layer1[0]
    #print(layer2)
    Name = layer2 ["name"]
    ID = layer2 ["series_id"]
    Location = layer2 ["geography"]

    DataLayer = layer2 ["data"]

    for i in range (0,2):
        year = DataLayer[i][0]
        print(year)


    for i in range (0,2):
        year_value = DataLayer[i][1]
        print(year_value)


    dict = {
        "Name": Name,
        "Series ID": ID,
        "State": Location,
        "Year": [year],
        "Annual BTU": [year_value]
    }

    print(dict)

2018
2017
28
20
{'Name': 'Solar energy total consumption, Alaska', 'Series ID': 'SEDS.SOTCB.AK.A', 'State': 'USA-AK', 'Year': ['2017'], 'Annual BTU': [20]}
2018
2017
3425
1812
{'Name': 'Solar energy total consumption, Alabama', 'Series ID': 'SEDS.SOTCB.AL.A', 'State': 'USA-AL', 'Year': ['2017'], 'Annual BTU': [1812]}
2018
2017
2118
442
{'Name': 'Solar energy total consumption, Arkansas', 'Series ID': 'SEDS.SOTCB.AR.A', 'State': 'USA-AR', 'Year': ['2017'], 'Annual BTU': [442]}
2018
2017
70800
66326
{'Name': 'Solar energy total consumption, Arizona', 'Series ID': 'SEDS.SOTCB.AZ.A', 'State': 'USA-AZ', 'Year': ['2017'], 'Annual BTU': [66326]}
2018
2017
381733
340408
{'Name': 'Solar energy total consumption, California', 'Series ID': 'SEDS.SOTCB.CA.A', 'State': 'USA-CA', 'Year': ['2017'], 'Annual BTU': [340408]}
2018
2017
15338
13974
{'Name': 'Solar energy total consumption, Colorado', 'Series ID': 'SEDS.SOTCB.CO.A', 'State': 'USA-CO', 'Year': ['2017'], 'Annual BTU': [13974]}
2018
2017
6486
5089
{'Name': 'Solar energy total consumption, Connecticut', 'Series ID': 'SEDS.SOTCB.CT.A', 'State': 'USA-CT', 'Year': ['2017'], 'Annual BTU': [5089]}
2018
2017
651
481
{'Name': 'Solar energy total consumption, District of Columbia', 'Series ID': 'SEDS.SOTCB.DC.A', 'State': 'USA-DC', 'Year': ['2017'], 'Annual BTU': [481]}
2018
2017
1492
1354
{'Name': 'Solar energy total consumption, Delaware', 'Series ID': 'SEDS.SOTCB.DE.A', 'State': 'USA-DE', 'Year': ['2017'], 'Annual BTU': [1354]}
2018
2017
53528
38265
{'Name': 'Solar energy total consumption, Florida', 'Series ID': 'SEDS.SOTCB.FL.A', 'State': 'USA-FL', 'Year': ['2017'], 'Annual BTU': [38265]}
2018
2017
20960
20717
{'Name': 'Solar energy total consumption, Georgia', 'Series ID': 'SEDS.SOTCB.GA.A', 'State': 'USA-GA', 'Year': ['2017'], 'Annual BTU': [20717]}
2018
2017
13083
12584
{'Name': 'Solar energy total consumption, Hawaii', 'Series ID': 'SEDS.SOTCB.HI.A', 'State': 'USA-HI', 'Year': ['2017'], 'Annual BTU': [12584]}
2018
2017
1291
906
{'Name': 'Solar energy total consumption, Iowa', 'Series ID': 'SEDS.SOTCB.IA.A', 'State': 'USA-IA', 'Year': ['2017'], 'Annual BTU': [906]}
2018
2017
5388
4405
{'Name': 'Solar energy total consumption, Idaho', 'Series ID': 'SEDS.SOTCB.ID.A', 'State': 'USA-ID', 'Year': ['2017'], 'Annual BTU': [4405]}
2018
2017
2747
2288
{'Name': 'Solar energy total consumption, Illinois', 'Series ID': 'SEDS.SOTCB.IL.A', 'State': 'USA-IL', 'Year': ['2017'], 'Annual BTU': [2288]}
2018
2017
3694
3032
{'Name': 'Solar energy total consumption, Indiana', 'Series ID': 'SEDS.SOTCB.IN.A', 'State': 'USA-IN', 'Year': ['2017'], 'Annual BTU': [3032]}
2018
2017
345
231
{'Name': 'Solar energy total consumption, Kansas', 'Series ID': 'SEDS.SOTCB.KS.A', 'State': 'USA-KS', 'Year': ['2017'], 'Annual BTU': [231]}
2018
2017
719
481
{'Name': 'Solar energy total consumption, Kentucky', 'Series ID': 'SEDS.SOTCB.KY.A', 'State': 'USA-KY', 'Year': ['2017'], 'Annual BTU': [481]}
2018
2017
2190
1958
{'Name': 'Solar energy total consumption, Louisiana', 'Series ID': 'SEDS.SOTCB.LA.A', 'State': 'USA-LA', 'Year': ['2017'], 'Annual BTU': [1958]}
2018
2017
28179
21533
{'Name': 'Solar energy total consumption, Massachusetts', 'Series ID': 'SEDS.SOTCB.MA.A', 'State': 'USA-MA', 'Year': ['2017'], 'Annual BTU': [21533]}
2018
2017
11457
9348
{'Name': 'Solar energy total consumption, Maryland', 'Series ID': 'SEDS.SOTCB.MD.A', 'State': 'USA-MD', 'Year': ['2017'], 'Annual BTU': [9348]}
2018
2017
766
578
{'Name': 'Solar energy total consumption, Maine', 'Series ID': 'SEDS.SOTCB.ME.A', 'State': 'USA-ME', 'Year': ['2017'], 'Annual BTU': [578]}
2018
2017
2307
1693
{'Name': 'Solar energy total consumption, Michigan', 'Series ID': 'SEDS.SOTCB.MI.A', 'State': 'USA-MI', 'Year': ['2017'], 'Annual BTU': [1693]}
2018
2017
10438
6248
{'Name': 'Solar energy total consumption, Minnesota', 'Series ID': 'SEDS.SOTCB.MN.A', 'State': 'USA-MN', 'Year': ['2017'], 'Annual BTU': [6248]}
2018
2017
2980
2433
{'Name': 'Solar energy total consumption, Missouri', 'Series ID': 'SEDS.SOTCB.MO.A', 'State': 'USA-MO', 'Year': ['2017'], 'Annual BTU': [2433]}
2018
2017
3080
903
{'Name': 'Solar energy total consumption, Mississippi', 'Series ID': 'SEDS.SOTCB.MS.A', 'State': 'USA-MS', 'Year': ['2017'], 'Annual BTU': [903]}
2018
2017
497
275
{'Name': 'Solar energy total consumption, Montana', 'Series ID': 'SEDS.SOTCB.MT.A', 'State': 'USA-MT', 'Year': ['2017'], 'Annual BTU': [275]}
2018
2017
57835
49099
{'Name': 'Solar energy total consumption, North Carolina', 'Series ID': 'SEDS.SOTCB.NC.A', 'State': 'USA-NC', 'Year': ['2017'], 'Annual BTU': [49099]}
2018
2017
8
7
{'Name': 'Solar energy total consumption, North Dakota', 'Series ID': 'SEDS.SOTCB.ND.A', 'State': 'USA-ND', 'Year': ['2017'], 'Annual BTU': [7]}
2018
2017
373
220
{'Name': 'Solar energy total consumption, Nebraska', 'Series ID': 'SEDS.SOTCB.NE.A', 'State': 'USA-NE', 'Year': ['2017'], 'Annual BTU': [220]}
2018
2017
1057
876
{'Name': 'Solar energy total consumption, New Hampshire', 'Series ID': 'SEDS.SOTCB.NH.A', 'State': 'USA-NH', 'Year': ['2017'], 'Annual BTU': [876]}
2018
2017
28242
25634
{'Name': 'Solar energy total consumption, New Jersey', 'Series ID': 'SEDS.SOTCB.NJ.A', 'State': 'USA-NJ', 'Year': ['2017'], 'Annual BTU': [25634]}
2018
2017
14765
13077
{'Name': 'Solar energy total consumption, New Mexico', 'Series ID': 'SEDS.SOTCB.NM.A', 'State': 'USA-NM', 'Year': ['2017'], 'Annual BTU': [13077]}
2018
2017
48554
43062
{'Name': 'Solar energy total consumption, Nevada', 'Series ID': 'SEDS.SOTCB.NV.A', 'State': 'USA-NV', 'Year': ['2017'], 'Annual BTU': [43062]}
2018
2017
17694
13922
{'Name': 'Solar energy total consumption, New York', 'Series ID': 'SEDS.SOTCB.NY.A', 'State': 'USA-NY', 'Year': ['2017'], 'Annual BTU': [13922]}
2018
2017
2757
2436
{'Name': 'Solar energy total consumption, Ohio', 'Series ID': 'SEDS.SOTCB.OH.A', 'State': 'USA-OH', 'Year': ['2017'], 'Annual BTU': [2436]}
2018
2017
691
382
{'Name': 'Solar energy total consumption, Oklahoma', 'Series ID': 'SEDS.SOTCB.OK.A', 'State': 'USA-OK', 'Year': ['2017'], 'Annual BTU': [382]}
2018
2017
8472
4831
{'Name': 'Solar energy total consumption, Oregon', 'Series ID': 'SEDS.SOTCB.OR.A', 'State': 'USA-OR', 'Year': ['2017'], 'Annual BTU': [4831]}
2018
2017
5116
4686
{'Name': 'Solar energy total consumption, Pennsylvania', 'Series ID': 'SEDS.SOTCB.PA.A', 'State': 'USA-PA', 'Year': ['2017'], 'Annual BTU': [4686]}
2018
2017
1173
679
{'Name': 'Solar energy total consumption, Rhode Island', 'Series ID': 'SEDS.SOTCB.RI.A', 'State': 'USA-RI', 'Year': ['2017'], 'Annual BTU': [679]}
2018
2017
6949
2037
{'Name': 'Solar energy total consumption, South Carolina', 'Series ID': 'SEDS.SOTCB.SC.A', 'State': 'USA-SC', 'Year': ['2017'], 'Annual BTU': [2037]}
2018
2017
29
32
{'Name': 'Solar energy total consumption, South Dakota', 'Series ID': 'SEDS.SOTCB.SD.A', 'State': 'USA-SD', 'Year': ['2017'], 'Annual BTU': [32]}
2018
2017
2378
1679
{'Name': 'Solar energy total consumption, Tennessee', 'Series ID': 'SEDS.SOTCB.TN.A', 'State': 'USA-TN', 'Year': ['2017'], 'Annual BTU': [1679]}
2018
2017
36303
25156
{'Name': 'Solar energy total consumption, Texas', 'Series ID': 'SEDS.SOTCB.TX.A', 'State': 'USA-TX', 'Year': ['2017'], 'Annual BTU': [25156]}
2018
2017
915513
777084
{'Name': 'Solar energy total consumption, United States', 'Series ID': 'SEDS.SOTCB.US.A', 'State': 'USA', 'Year': ['2017'], 'Annual BTU': [777084]}
2018
2017
23896
23097
{'Name': 'Solar energy total consumption, Utah', 'Series ID': 'SEDS.SOTCB.UT.A', 'State': 'USA-UT', 'Year': ['2017'], 'Annual BTU': [23097]}
2018
2017
8244
4035
{'Name': 'Solar energy total consumption, Virginia', 'Series ID': 'SEDS.SOTCB.VA.A', 'State': 'USA-VA', 'Year': ['2017'], 'Annual BTU': [4035]}
2018
2017
2253
2029
{'Name': 'Solar energy total consumption, Vermont', 'Series ID': 'SEDS.SOTCB.VT.A', 'State': 'USA-VT', 'Year': ['2017'], 'Annual BTU': [2029]}
2018
2017
1507
1201
{'Name': 'Solar energy total consumption, Washington', 'Series ID': 'SEDS.SOTCB.WA.A', 'State': 'USA-WA', 'Year': ['2017'], 'Annual BTU': [1201]}
2018
2017
1288
953
{'Name': 'Solar energy total consumption, Wisconsin', 'Series ID': 'SEDS.SOTCB.WI.A', 'State': 'USA-WI', 'Year': ['2017'], 'Annual BTU': [953]}
2018
2017
140
126
{'Name': 'Solar energy total consumption, West Virginia', 'Series ID': 'SEDS.SOTCB.WV.A', 'State': 'USA-WV', 'Year': ['2017'], 'Annual BTU': [126]}

2018
2017
67
45
{'Name': 'Solar energy total consumption, Wyoming', 'Series ID': 'SEDS.SOTCB.WY.A', 'State': 'USA-WY', 'Year': ['2017'], 'Annual BTU': [45]}

In [60]:
df = pd.DataFrame([state_series], index = ["State Series ID"])
df_transposed = df.T
df_transposed.head()

   State Series ID
0  SEDS.SOTCB.AK.A
1  SEDS.SOTCB.AL.A
2  SEDS.SOTCB.AR.A
3  SEDS.SOTCB.AZ.A
4  SEDS.SOTCB.CA.A