In [1]:
#import dependencies

import json
import requests
import pandas as pd
import numpy as np

from gina_config import api_key

In [4]:
url = "http://api.eia.gov/category/?"
url = (f'{url}&api_key={api_key}&category_id=40382')

print (requests.get(url))

<Response [200]>

In [5]:
response = requests.get(url).json()
print(json.dumps(response, indent=1, sort_keys=True))

{
 "category": {
  "category_id": "40382",
  "childcategories": [],
  "childseries": [
   {
    "f": "A",
    "name": "Solar energy total consumption, Alaska",
    "series_id": "SEDS.SOTCB.AK.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Alabama",
    "series_id": "SEDS.SOTCB.AL.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Arkansas",
    "series_id": "SEDS.SOTCB.AR.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Arizona",
    "series_id": "SEDS.SOTCB.AZ.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, California",
    "series_id": "SEDS.SOTCB.CA.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Colorado",
    "series_id": "SEDS.SOTCB.CO.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Connecticut",
    "series_id": "SEDS.SOTCB.CT.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, District of Columbia",
    "series_id": "SEDS.SOTCB.DC.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Delaware",
    "series_id": "SEDS.SOTCB.DE.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Florida",
    "series_id": "SEDS.SOTCB.FL.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Georgia",
    "series_id": "SEDS.SOTCB.GA.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Hawaii",
    "series_id": "SEDS.SOTCB.HI.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Iowa",
    "series_id": "SEDS.SOTCB.IA.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Idaho",
    "series_id": "SEDS.SOTCB.ID.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Illinois",
    "series_id": "SEDS.SOTCB.IL.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Indiana",
    "series_id": "SEDS.SOTCB.IN.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Kansas",
    "series_id": "SEDS.SOTCB.KS.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Kentucky",
    "series_id": "SEDS.SOTCB.KY.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Louisiana",
    "series_id": "SEDS.SOTCB.LA.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Massachusetts",
    "series_id": "SEDS.SOTCB.MA.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Maryland",
    "series_id": "SEDS.SOTCB.MD.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Maine",
    "series_id": "SEDS.SOTCB.ME.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Michigan",
    "series_id": "SEDS.SOTCB.MI.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Minnesota",
    "series_id": "SEDS.SOTCB.MN.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Missouri",
    "series_id": "SEDS.SOTCB.MO.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Mississippi",
    "series_id": "SEDS.SOTCB.MS.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Montana",
    "series_id": "SEDS.SOTCB.MT.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, North Carolina",
    "series_id": "SEDS.SOTCB.NC.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, North Dakota",
    "series_id": "SEDS.SOTCB.ND.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Nebraska",
    "series_id": "SEDS.SOTCB.NE.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, New Hampshire",
    "series_id": "SEDS.SOTCB.NH.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, New Jersey",
    "series_id": "SEDS.SOTCB.NJ.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, New Mexico",
    "series_id": "SEDS.SOTCB.NM.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Nevada",
    "series_id": "SEDS.SOTCB.NV.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, New York",
    "series_id": "SEDS.SOTCB.NY.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Ohio",
    "series_id": "SEDS.SOTCB.OH.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Oklahoma",
    "series_id": "SEDS.SOTCB.OK.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Oregon",
    "series_id": "SEDS.SOTCB.OR.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Pennsylvania",
    "series_id": "SEDS.SOTCB.PA.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Rhode Island",
    "series_id": "SEDS.SOTCB.RI.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, South Carolina",
    "series_id": "SEDS.SOTCB.SC.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, South Dakota",
    "series_id": "SEDS.SOTCB.SD.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Tennessee",
    "series_id": "SEDS.SOTCB.TN.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Texas",
    "series_id": "SEDS.SOTCB.TX.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, United States",
    "series_id": "SEDS.SOTCB.US.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Utah",
    "series_id": "SEDS.SOTCB.UT.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Virginia",
    "series_id": "SEDS.SOTCB.VA.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Vermont",
    "series_id": "SEDS.SOTCB.VT.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Washington",
    "series_id": "SEDS.SOTCB.WA.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Wisconsin",
    "series_id": "SEDS.SOTCB.WI.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, West Virginia",
    "series_id": "SEDS.SOTCB.WV.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   },
   {
    "f": "A",
    "name": "Solar energy total consumption, Wyoming",
    "series_id": "SEDS.SOTCB.WY.A",
    "units": "Billion Btu",
    "updated": "29-MAY-20 10.39.12 PM"
   }
  ],
  "name": "Btu",
  "notes": "",
  "parent_category_id": "40956"
 },
 "request": {
  "category_id": 40382,
  "command": "category"
 }
}

In [49]:
eia_data = response["category"]["childseries"]

state_series_id = eia_data[0]["series_id"]
state_series_id

'SEDS.SOTCB.AK.A'

In [53]:
base_state_url = "http://api.eia.gov/series/?"
state_url = (f'{base_state_url}&api_key={api_key}&series_id={state_series_id}')

state_response = (requests.get(state_url).json())
print(json.dumps(state_response, indent=1, sort_keys=True))

{
 "request": {
  "command": "series",
  "series_id": "SEDS.SOTCB.AK.A"
 },
 "series": [
  {
   "copyright": "None",
   "data": [
    [
     "2018",
     28
    ],
    [
     "2017",
     20
    ],
    [
     "2016",
     14
    ],
    [
     "2015",
     3
    ],
    [
     "2014",
     3
    ],
    [
     "2013",
     3
    ],
    [
     "2012",
     3
    ],
    [
     "2011",
     3
    ],
    [
     "2010",
     3
    ],
    [
     "2009",
     3
    ],
    [
     "2008",
     2
    ],
    [
     "2007",
     0
    ],
    [
     "2006",
     0
    ],
    [
     "2005",
     0
    ],
    [
     "2004",
     0
    ],
    [
     "2003",
     0
    ],
    [
     "2002",
     0
    ],
    [
     "2001",
     0
    ],
    [
     "2000",
     0
    ],
    [
     "1999",
     0
    ],
    [
     "1998",
     0
    ],
    [
     "1997",
     1
    ],
    [
     "1996",
     1
    ],
    [
     "1995",
     1
    ],
    [
     "1994",
     1
    ],
    [
     "1993",
     1
    ],
    [
     "1992",
     1
    ],
    [
     "1991",
     1
    ],
    [
     "1990",
     1
    ],
    [
     "1989",
     1
    ],
    [
     "1988",
     0
    ],
    [
     "1987",
     0
    ],
    [
     "1986",
     0
    ],
    [
     "1985",
     0
    ],
    [
     "1984",
     0
    ],
    [
     "1983",
     0
    ],
    [
     "1982",
     0
    ],
    [
     "1981",
     0
    ],
    [
     "1980",
     0
    ],
    [
     "1979",
     0
    ],
    [
     "1978",
     0
    ],
    [
     "1977",
     0
    ],
    [
     "1976",
     0
    ],
    [
     "1975",
     0
    ],
    [
     "1974",
     0
    ],
    [
     "1973",
     0
    ],
    [
     "1972",
     0
    ],
    [
     "1971",
     0
    ],
    [
     "1970",
     0
    ],
    [
     "1969",
     0
    ],
    [
     "1968",
     0
    ],
    [
     "1967",
     0
    ],
    [
     "1966",
     0
    ],
    [
     "1965",
     0
    ],
    [
     "1964",
     0
    ],
    [
     "1963",
     0
    ],
    [
     "1962",
     0
    ],
    [
     "1961",
     0
    ],
    [
     "1960",
     0
    ]
   ],
   "description": "Solar energy total consumption, Alaska See http://www.eia.gov/state/seds/seds-technical-notes-complete.cfm?sid=US for technical notes and documentation.",
   "end": "2018",
   "f": "A",
   "geography": "USA-AK",
   "iso3166": "USA-AK",
   "name": "Solar energy total consumption, Alaska",
   "series_id": "SEDS.SOTCB.AK.A",
   "source": "SEDS, EIA, U.S. Energy Information Administration",
   "start": "1960",
   "units": "Billion Btu",
   "updated": "2020-05-29T22:39:12-0400"
  }
 ]
}

In [9]:
s = pd.Series = all_states_df["name"]
s.str.split(r",", n=-1,expand=True)

TypeError: 'Series' object is not callable

,0,1
0,Solar energy total consumption,Alaska
1,Solar energy total consumption,Alabama
2,Solar energy total consumption,Arkansas
3,Solar energy total consumption,Arizona
4,Solar energy total consumption,California
5,Solar energy total consumption,Colorado
6,Solar energy total consumption,Connecticut
7,Solar energy total consumption,District of Columbia
8,Solar energy total consumption,Delaware
9,Solar energy total consumption,Florida
10,Solar energy total consumption,Georgia
11,Solar energy total consumption,Hawaii
12,Solar energy total consumption,Iowa
13,Solar energy total consumption,Idaho
14,Solar energy total consumption,Illinois
15,Solar energy total consumption,Indiana
16,Solar energy total consumption,Kansas
17,Solar energy total consumption,Kentucky
18,Solar energy total consumption,Louisiana
19,Solar energy total consumption,Massachusetts
20,Solar energy total consumption,Maryland
21,Solar energy total consumption,Maine
22,Solar energy total consumption,Michigan
23,Solar energy total consumption,Minnesota
24,Solar energy total consumption,Missouri
25,Solar energy total consumption,Mississippi
26,Solar energy total consumption,Montana
27,Solar energy total consumption,North Carolina
28,Solar energy total consumption,North Dakota
29,Solar energy total consumption,Nebraska
30,Solar energy total consumption,New Hampshire
31,Solar energy total consumption,New Jersey
32,Solar energy total consumption,New Mexico
33,Solar energy total consumption,Nevada
34,Solar energy total consumption,New York
35,Solar energy total consumption,Ohio
36,Solar energy total consumption,Oklahoma
37,Solar energy total consumption,Oregon
38,Solar energy total consumption,Pennsylvania
39,Solar energy total consumption,Rhode Island
40,Solar energy total consumption,South Carolina
41,Solar energy total consumption,South Dakota
42,Solar energy total consumption,Tennessee
43,Solar energy total consumption,Texas
44,Solar energy total consumption,United States
45,Solar energy total consumption,Utah
46,Solar energy total consumption,Virginia
47,Solar energy total consumption,Vermont
48,Solar energy total consumption,Washington
49,Solar energy total consumption,Wisconsin
50,Solar energy total consumption,West Virginia
51,Solar energy total consumption,Wyoming

In [18]:
SEDS = pd.Series = all_states_df["series_id"]
SEDS.head()

0    SEDS.SOEGP.AK.A
1    SEDS.SOEGP.AL.A
2    SEDS.SOEGP.AR.A
3    SEDS.SOEGP.AZ.A
4    SEDS.SOEGP.CA.A
Name: series_id, dtype: object

In [26]:
state_base_url = "http://api.eia.gov/series/?"

params = {
    "api_key": api_key,
    "series_id": SEDS
         }


state_response = requests.get(state_base_url, params=params).json()
state_response

{'request': {'command': 'series', 'series_id': 'SEDS.SOEGP.WY.A'},
 'series': [{'series_id': 'SEDS.SOEGP.WY.A',
   'name': 'Solar thermal and photovoltaic electricity net generation in the electric power sector, Wyoming',
   'units': 'Million kilowatthours',
   'f': 'A',
   'description': 'Solar thermal and photovoltaic electricity net generation in the electric power sector, Wyoming See http://www.eia.gov/state/seds/seds-technical-notes-complete.cfm?sid=US for technical notes and documentation.',
   'copyright': 'None',
   'source': 'SEDS, EIA, U.S. Energy Information Administration',
   'iso3166': 'USA-WY',
   'geography': 'USA-WY',
   'start': '1960',
   'end': '2018',
   'updated': '2020-05-29T22:39:12-0400',
   'data': [['2018', 1],
    ['2017', 0],
    ['2016', 0],
    ['2015', 0],
    ['2014', 0],
    ['2013', 0],
    ['2012', 0],
    ['2011', 0],
    ['2010', 0],
    ['2009', 0],
    ['2008', 0],
    ['2007', 0],
    ['2006', 0],
    ['2005', 0],
    ['2004', 0],
    ['2003', 0],
    ['2002', 0],
    ['2001', 0],
    ['2000', 0],
    ['1999', 0],
    ['1998', 0],
    ['1997', 0],
    ['1996', 0],
    ['1995', 0],
    ['1994', 0],
    ['1993', 0],
    ['1992', 0],
    ['1991', 0],
    ['1990', 0],
    ['1989', 0],
    ['1988', 0],
    ['1987', 0],
    ['1986', 0],
    ['1985', 0],
    ['1984', 0],
    ['1983', 0],
    ['1982', 0],
    ['1981', 0],
    ['1980', 0],
    ['1979', 0],
    ['1978', 0],
    ['1977', 0],
    ['1976', 0],
    ['1975', 0],
    ['1974', 0],
    ['1973', 0],
    ['1972', 0],
    ['1971', 0],
    ['1970', 0],
    ['1969', 0],
    ['1968', 0],
    ['1967', 0],
    ['1966', 0],
    ['1965', 0],
    ['1964', 0],
    ['1963', 0],
    ['1962', 0],
    ['1961', 0],
    ['1960', 0]]}]}