# Solar Production vs CO2 Emissions

Need to determine hypothesis

In [1]:
## import dependencies
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import scipy.stats as stats

In [2]:
## Import csv files
production_csv = pd.read_csv("input_data/SolarProduction.csv")
emissions_csv = pd.read_csv("input_data/emissions.csv")

# Data Munging

In [3]:
production_df = pd.DataFrame (production_csv)

production_df.drop(["2018","Grand Total"], axis=1, inplace=True)
production_df= production_df.rename(columns={"STATE": "State"})

## Need to drop the rows'US-TOTAL' and 'Grand Total
full_prod_df = production_df[~production_df['State'].isin(["US-TOTAL", "Grand Total"])]

full_prod_df.head()

,State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,AL,0,0,0,0.00,0,0.00,0.00,0,62522,361376
1,AR,0,0,0,0.00,0,0.00,0.00,1854,52284,61624
2,AZ,29448,28290,31508,166697.56,1910886,4222877.28,6283015.71,6913216,7531650,9884002
3,CA,1340962,1294780,1538662,1777658.80,2764600,7627449.58,19863629.72,29628768,37613423,48705833
4,CO,36708,51170,84996,209271.22,330898,496904.92,506130.00,502742,1076218,1908996

In [4]:
emissions_df = pd.DataFrame (emissions_csv)

## Production data is not available for the states AK, DC, ND, NJ, and WV - Need to drop from emissions data too
full_emis_df = emissions_df[~emissions_df['State'].isin(["AK", "DC", "ND", "NJ", "WV"])]

full_emis_df.head()

,State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,AL,139.666603,120.020443,132.722932,129.812612,123.039324,120.732885,123.080771,120.012608,114.872696,109.018634
2,AZ,102.125070,93.252826,95.204594,93.282044,91.256850,95.060822,93.120620,90.856296,86.971877,86.137839
3,AR,64.059757,61.367031,65.723403,67.168798,65.940126,68.354108,68.985869,59.176044,62.319791,64.277677
4,CA,379.480916,366.184902,360.953079,346.864178,351.496006,354.219000,351.477053,359.290429,359.261859,360.913489
5,CO,97.064224,92.931686,95.398725,91.694520,90.609881,91.185686,91.833738,90.542532,87.183832,87.582932

# Create data sets for a smaller set of states

In [ ]:
production_df = pd.DataFrame (production_csv)

## Need production table to have the same columns as emissions
production_df.drop(["2018","Grand Total"], axis=1, inplace=True) 
production_df= production_df.rename(columns={"STATE": "State"})

## Production data is not available for the states AK, DC, ND, NJ, and WV
## Need to drop the rows'US-TOTAL' and 'Grand Total'
clean_prod_df = production_df.loc[production_df["State"].isin(["OH", "PA", "VT", "WA", "TX"])]
##clean_df = production_df.loc[production_df["State"] == "PA"]

clean_prod_df

,State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
31,OH,0,0,25696,30990.00,73274,92619.08,107816.54,112144,131116,210356
34,PA,350,7124,15819,46288.06,64294,126211.62,124784.84,127788,149610,139233
39,TX,0,0,16416,57278.00,236530,326025.86,564702.60,801518,1461620,4378254
43,VT,0,0,0,3630.00,10128,34586.00,47071.94,96044,118062,197602
44,WA,0,0,0,1680.00,1588,1524.00,1458.00,1580,1454,962

In [18]:
emissions_df = pd.DataFrame (emissions_csv)
clean_emis_df = emissions_df.loc[emissions_df["State"].isin(["OH", "PA", "VT", "WA", "TX"])]

clean_emis_df

,State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
35,OH,259.915008,234.975715,247.141718,235.368188,215.376323,229.601220,231.666146,212.891632,206.407588,205.621802
38,PA,267.457907,242.407980,254.419583,247.126263,236.353959,246.092075,245.894238,229.691958,216.636771,216.650887
43,TX,643.698700,611.110086,648.818958,666.708188,662.002423,696.845756,693.485215,693.100945,695.363753,710.994283
45,VT,5.901652,6.132742,5.854555,5.782272,5.430809,5.720077,5.867586,6.125115,5.917026,5.833906
47,WA,75.157759,72.977136,73.044555,68.149752,67.912628,72.679159,71.204237,73.062390,78.443075,78.732677

In [17]:
## Check that length of the dataframes are the same length
print(len(clean_prod_df))
print(len(clean_emis_df))

5
5

# Begin Analysis