In [62]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import gmaps
import os

# Import API key
from keys import g_key
gmaps.configure(api_key=g_key)


# Max population of a state is California with 39,144,818; We will set the max value for our plot to 40000000
population_csv = pd.read_csv('Census Data/us-capitals.csv', usecols=['abbrev', 'state', 'capital', 'latitude', 'longitude', 'population'])

population_csv.head()

  abbrev       state      capital   latitude   longitude  population
0     AL     Alabama   Montgomery  32.380120  -86.300629      205764
1     AK      Alaska       Juneau  58.299740 -134.406794       31275
2     AZ     Arizona      Phoenix  33.448260 -112.075774     1445632
3     AR    Arkansas  Little Rock  34.748655  -92.274494      193524
4     CA  California   Sacramento  38.579065 -121.491014      466488

In [49]:
emissions_csv = pd.read_csv('input_data/emissions.csv')
clean_emissions = emissions_csv.dropna(axis="rows", how="any", inplace=True)
emissions_csv.head()

,State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,AL,139.666603,120.020443,132.722932,129.812612,123.039324,120.732885,123.080771,120.012608,114.872696,109.018634
1,AK,39.435905,37.788246,38.729384,38.585774,38.039447,35.975289,35.171091,36.067852,34.739390,34.295441
2,AZ,102.125070,93.252826,95.204594,93.282044,91.256850,95.060822,93.120620,90.856296,86.971877,86.137839
3,AR,64.059757,61.367031,65.723403,67.168798,65.940126,68.354108,68.985869,59.176044,62.319791,64.277677
4,CA,379.480916,366.184902,360.953079,346.864178,351.496006,354.219000,351.477053,359.290429,359.261859,360.913489

In [51]:
# A bar chart just looked so sloppy
# I decided to go with a heat map and use population as the "weight"

# x_axis = population_csv['State']
# data = population_csv['Population']
# plt.bar(x_axis, data, color='g', alpha=0.75)
# plt.ylim(0, 40000000, 200000)
# tick_locations = [value for value in x_axis]
# plt.xticks(tick_locations, rotation = 90, ha="right")
# plt.show

In [72]:
# The heat map for population produces the same size square and density for every city in every state... 

# state_capitals = population_csv[['latitude', 'longitude']].astype(float)
# pop_density = population_csv['population'].astype(float)

# fig = gmaps.figure()

# heat_layer = gmaps.heatmap_layer(state_capitals, weights=pop_density, dissipating=False, max_intensity=100, point_radius=1)

# fig.add_layer(heat_layer)

# fig

Figure(layout=FigureLayout(height='420px'))