In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import gmaps
import os

# Import API key
from keys import g_key
gmaps.configure(api_key=g_key)

population_csv = pd.read_csv('Census Data/us-capitals.csv', usecols=['abbrev', 'state', 'capital', 'latitude', 'longitude', 'population'])
new_df = pd.DataFrame(population_csv)
states = new_df.loc[new_df["abbrev"].isin(['OH', 'PA', 'TX', 'WA', 'VT'])]
states

   abbrev         state     capital   latitude   longitude  population
34     OH          Ohio    Columbus  39.961960  -83.002984      787033
37     PA  Pennsylvania  Harrisburg  40.259865  -76.882230       49528
42     TX         Texas      Austin  30.267605  -97.742984      790390
44     VT       Vermont  Montpelier  44.260299  -72.576264        7855
46     WA    Washington     Olympia  47.039231 -122.891366       46478

In [21]:
emissions_csv = pd.read_csv('input_data/emissions.csv')
clean_emissions = emissions_csv.loc[emissions_csv["State"].isin(['OH', 'PA', 'TX', 'WA', 'VT'])]
clean_emissions

,State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
35,OH,259.915008,234.975715,247.141718,235.368188,215.376323,229.601220,231.666146,212.891632,206.407588,205.621802
38,PA,267.457907,242.407980,254.419583,247.126263,236.353959,246.092075,245.894238,229.691958,216.636771,216.650887
43,TX,643.698700,611.110086,648.818958,666.708188,662.002423,696.845756,693.485215,693.100945,695.363753,710.994283
45,VT,5.901652,6.132742,5.854555,5.782272,5.430809,5.720077,5.867586,6.125115,5.917026,5.833906
47,WA,75.157759,72.977136,73.044555,68.149752,67.912628,72.679159,71.204237,73.062390,78.443075,78.732677

In [ ]:
# A bar chart just looked so sloppy
# I decided to go with a heat map and use population as the "weight"

# x_axis = population_csv['State']
# data = population_csv['Population']
# plt.bar(x_axis, data, color='g', alpha=0.75)
# plt.ylim(0, 40000000, 200000)
# tick_locations = [value for value in x_axis]
# plt.xticks(tick_locations, rotation = 90, ha="right")
# plt.show

In [ ]:
# The heat map for population produces the same size square and density for every city in every state... 

# state_capitals = population_csv[['latitude', 'longitude']].astype(float)
# pop_density = population_csv['population'].astype(float)

# fig = gmaps.figure()

# pop_layer = gmaps.heatmap_layer(state_capitals, weights=pop_density, dissipating=False, max_intensity=100, point_radius=1)

# fig.add_layer(pop_layer)

# fig